<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch Emote Tracker</title>
</head>
<body>
    <h1>Twitch Emote Tracker</h1>
    <ul>
        <li><span id="Kappa">Kappa: </span><span id="KappaCount">0</span></li>
        <li><span id="Keepo">Keepo: </span><span id="KeepoCount">0</span></li>
        <li><span id="PogChamp">PogChamp </span><span id="PogChampCount">0</span></li>
    </ul>

    <script>
        // eventSource will receive events from /stream
        const eventSource = new EventSource('http://localhost:3000/stream')
        eventSource.onmessage = (e) => {
            // Event data is {name, count} object
            console.log(`Event data: ${e.data}`)
            let dataObject = JSON.parse(e.data)
            let searchString = `#${dataObject.name}Count`
            let emoteCount = document.querySelector(searchString)
            emoteCount.innerText = dataObject.count
        }
    </script>

</body>
</html>
