<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch Emote Tracker</title>
</head>
<body>
    <h1>Twitch Emote Tracker</h1>
    <ul>
        <li>6 PogChamps</li>
        <li>5 Wutfaces</li>
        <li>999999 Kappas</li>
    </ul>
</body>
</html>